.home-container{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    margin-top: 50px;
}
.home-content .section_title{
    font-size: 3rem;
    padding-right: 50px;
    line-height: 80px;
    margin-bottom: 20px;
}

.home-content p{
    font-size: 1.1rem;
    color: var(--heading-color);
    margin-bottom: 50px;
    line-height: 30px;
}
 .home-button{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}